.header {
  display: block;
  @media screen and (max-width: 700px) {
    display: flex;
    justify-content: center;
  }
}

.sponsers {
  margin-left: 8.25rem;
  margin-top: 9.375rem;
  @media screen and (max-width: 700px) {
    margin-top: 0%;
    margin-top: 9.375rem;
    margin-left: 1.25rem;
  }

  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    color: white;
    margin: 0%;
    @media screen and (max-width: 700px) {
      font-size: 2.5rem;
      text-align: center;
    }
  }
  .underline {
    position: relative;
    width: 23.4375rem;
    height: 0.9375rem;
    bottom: 0.9375rem;
    z-index: -1;
    @media screen and (max-width: 700px) {
      width: 11.5625rem;
      height: 0.4375rem;
      bottom: 0.3125rem;
    }
  }
}

.slider {
  height: 13.125rem;
}

.slides {
  width: 376px;
  height: 146px;
  margin-top: 2.5rem;
  background-color: white;
  box-shadow: 15px 14px 12px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
